<div class="mt-2 grid grid-row-12">
  <div class="row-span-2">
    <h1>Book your flight now!</h1>
  </div>
  <%= render partial: "form", locals: {airports: @airports, flight_date: @dates} %>
  <div class="mt-2 container row-span-2 border-solid border-2 border-sky-500">
    <% if @flight_results.present? %>
      <% @flight_results.each do |i| %>
        <h3><%= i.flight_number%></h3>
        <h3><%= i.departure_airport.airport_code%>
        <h3><%= i.arrival_airport.airport_code %></h3>
      <% end %>
    <% end %>
    <h3>this is not a joke </h3>
  </div>

</div>